*.bin
*.onnx
output
python
__pycache__
tests/generated
tests/generated_heavy
tests/generated_lite
tests/softmax
submodules/iob_versat
software/*.bin
software/src/code.c
software/src/modelInfo.h
software/src/testInfo.h
*.bin
*_code.c
*_modelInfo.h